<div fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4rem" class="mat-typography">
  <div>
    <img src="assets/fitness/logo.svg" alt="img-fluid" width="100px" />
  </div>
  <div class="login-container" fxLayout="row" fxLayoutAlign="center">
    <mat-card fxFlex="90%" fxFlex.sm="66%" fxFlex.md="50%" fxFlex.gt-md="33%" class="login-box">
      <div class="text-center mb-0 login-head">Forgot Password</div>
      <div class="sub-head pt-2 text-center">
        Enter your email below and we'll send you instructions on how to change your password
      </div>
      <form (ngSubmit)="submit()" [formGroup]="Form" novalidate>
        <!-- <div class="login-error" [hidden]="!error || isLoading" translate>Email is incorrect.</div> -->
        <br />
        <div class="login-fields" fxLayout="column">
          <mat-form-field [hideRequiredMarker]="true" appearance="outline">
            <input
              type="text"
              matInput
              formControlName="email"
              autocomplete="Email"
              [placeholder]="'Email' | translate"
              required
            />
            <mat-error *ngIf="hasError('email', 'required')">
              <span translate>Email is required</span>
            </mat-error>
            <mat-error *ngIf="hasError('email', 'email')">
              <span translate>Email must be valid</span>
            </mat-error>
          </mat-form-field>

          <button
            mat-raised-button
            [ngClass]="Form.invalid ? '' : 'bg-color'"
            type="submit"
            [disabled]="Form.invalid || isLoading"
          >
            <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
            <span *ngIf="!isLoading" translate class="text-white login-btn">Submit</span>
          </button>
          <a routerLink="/login">Go back to login page</a>
        </div>
      </form>
    </mat-card>
  </div>
</div>
