.para {
  opacity: 0.5;
  color: #17242a;
  padding-top: 1rem;
  padding-left: 1rem;
  margin-bottom: 0;
}

.box-width {
  width: 310px !important;
}

.box {
  border: 0.5px solid #bfbfbf;
  border-radius: 5px;
  color: #0d1111;
  padding: 10px;
  text-align: start;
}
.cursor-move {
  cursor: move;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
