@import "src/theme/theme-variables";
@import "../../assets/fonts/poppins/stylesheet.css";
@import "../../assets/fonts/stylesheet.css";
:host {
  display: flex;
  flex: 1;
  // background: linear-gradient(197deg, #def2f1 10%, black 277%) 0% 0%;
  background: transparent linear-gradient(197deg, #d2e5e4 0%, #bacbca 100%) 0% 0% no-repeat padding-box;
}

.inline-loader {
  display: inline-block;
}

.version {
  margin: 0;
}

.login-container,
.mat-form-field {
  width: 100%;
}

// .login-fields > :not(:last-child) {
//   margin-bottom: 8px;
// }

.login-error {
  color: mat-color($app-warn);
}
.bg-color {
  background-color: $primary;
}
//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgba(0, 0, 0, 0.12) !important;
  // opacity: 1!important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
  padding: 0 !important;
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #0d1111 !important;
}

// mat-input error outline color
::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
  .mat-form-field-outline-thick {
  color: #0d1111 !important;
  opacity: 0.8 !important;
}

// mat-input carent color
::ng-deep .mat-input-element {
  caret-color: #0d1111 !important;
}

// mat-input error carent color
::ng-deep .mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
  caret-color: #0d1111 !important;
}

// mat-label normal state style
::ng-deep .mat-form-field-label {
  color: rgba(255, 255, 255, 0.6) !important;
  // color: $mainColor!important;
}

input::placeholder {
  color: #0d1111;
}

// mat-label focused style
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #0d1111 !important;
}

// mat-label error style
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #0d1111 !important;
}
* {
  font-family: "Source Sans Pro" !important;
}
.login-head {
  font-size: 24px;
  color: #17242a;
  padding-top: 10px;
}
.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background,
.mat-checkbox-checked.mat-primary .mat-checkbox-background {
  background-color: #0d1111 !important;
}
.mat-error {
  font-size: 12px;
}
mat-form-field {
  font-size: 18px !important;
  overflow: inherit;
}
::ng-deep .mat-form-field-infix {
  border-top: 0px;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 6px 0.75em 0 0.75em !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.6em 0 0.6em 0;
}
.login-fields {
  a {
    text-decoration: underline;
    color: #0d1111;
    padding: 10px 0 10px 0;
    font-family: "Source-Sans-Pro-SemiBold" !important;
  }
  button {
    padding: 5px 0 5px 0;
  }
}
mat-checkbox {
  font-family: "Source Sans Pro" !important;
  font-size: 18px;
  color: #17242a;
}
.login-btn {
  font-size: 18px;
}
