@import "../../../../assets/fonts/poppins/stylesheet.css";
@import "../../../../assets/fonts/stylesheet.css";

.save-btn {
  background-color: #0d1111;
  width: 120px;
}

:host {
  ::ng-deep .mat-form-field-infix {
    border-top: 0px !important;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 5px 0.75em 3px 0.75em !important;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 1em 0 0.8em 0;
  }
}
.inline-grid {
  display: grid;
  button {
    width: fit-content;
    padding: 5px 25px;
  }
}
