<div class="page custom-page">
  <div class="container-fluid">
    <div class="row mx-2 mt-3">
      <div class="col-md-12 align-items-center justify-content-between d-flex pl-0 pr-0">
        <div class="head">Admin Management</div>
        <button routerLink="/admin-management/add-admin" mat-flat-button class="bg-color text-white version-btn">
          Add New<mat-icon class="pl-2">add_circle_outline</mat-icon>
        </button>
      </div>
    </div>
    <div class="row mt-3" [ngClass]="dataService.isMobile ? '' : 'mx-2'">
      <div
        class="col-md-12 bg-white align-items-center justify-content-between pt-3 pb-3"
        [ngClass]="dataService.smallDevice ? '' : ' d-md-flex'"
      >
        <h5 class="sub-head pl-3">Admins</h5>
        <div class="align-items-center pr-3" [ngClass]="dataService.isMobile ? 'pl-3 d-flex' : ' d-md-flex'">
          <button
            [disabled]="dataBusy"
            (click)="export()"
            mat-flat-button
            class="bg-color text-white ml-3 mr-2 export-btn excel-res"
          >
            <span *ngIf="!dataBusy"> Export to excel</span>
            <app-loader class="inline-loader" size="0.5" [isLoading]="dataBusy"></app-loader>
          </button>
          <form>
            <div class="form-inline" [ngClass]="dataService.isMobile ? 'pt-1' : ''">
              Search
              <input #input class="form-control ml-2 search-input" type="text" [formControl]="searchString" />
            </div>
          </form>
        </div>
      </div>
      <div *ngIf="isLoading" class="col-md-12 pt-5 justify-content-center d-flex">
        <app-loader [size]="1.5" class="inline-loader" [isLoading]="isLoading"></app-loader>
      </div>

      <!-- <div let data of usersdata|async>data|json</div> -->
      <div
        [style.visibility]="!isLoading ? 'visible' : 'hidden'"
        class="col-md-12 bg-white"
        [ngClass]="dataService.smallDevice ? 'px-0' : ''"
      >
        <div style="display: grid" [ngClass]="dataService.smallDevice ? 'mx-0' : 'mx-3'">
          <div class="">
            <app-datatable
              [tableData]="tableData"
              [tableColumns]="tableColumns"
              [searchValue]="searchString.value"
              [isFilterable]="true"
              [isPageable]="true"
              [isDeleteIcon]="true"
              [isEditIcon]="true"
              [isViewIcon]="true"
              [isToggleIcon]="true"
              [paginationSizes]="[5, 10, 15]"
              [defaultPageSize]="5"
              (reloadTable)="adminData()"
              [rowActionIcon]="'remove_shopping_cart'"
              (rowDeleteAction)="openItemModal('delete', DeleteComponent, $event, 'AdminManagementComponent')"
              (rowViewAction)="openItemModal('user-detail', UserDetailComponent, $event, 'AdminManagementComponent')"
              (rowEditAction)="edit($event)"
              (rowToggleAction)="toggleStatus($event)"
            >
            </app-datatable>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3 custom-footer">
      <div class="bg-white px-4 pt-2 pb-2 w-100">
        <div class="col-md-12 footer-font">
          <span class="footer-bold"> Copyright © 2021 Fit & More.</span> All rights reserved.
        </div>
      </div>
    </div>
  </div>
</div>
