<div class="page custom-page">
  <div class="container-fluid">
    <div class="row mx-2 mt-3">
      <div class="col-md-12 pl-0">
        <div class="head">About Us</div>
      </div>
    </div>
    <div class="row mx-2 mt-3">
      <form class="w-100" (ngSubmit)="submit()" [formGroup]="Form" #f novalidate>
        <div class="bg-white pt-3 mb-3">
          <div class="d-flex align-items-center">
            <h5 class="sub-head pl-3">Content <span>(English)</span></h5>
          </div>
          <mat-divider></mat-divider>
          <div class="row">
            <div class="col m-3">
              <ckeditor #editor formControlName="aboutus_en" id="description" name="description" type="divarea">
              </ckeditor>
              <mat-error *ngIf="Form.controls.aboutus_en.touched && hasError('aboutus_en', 'required')">
                <span>Content is required</span>
              </mat-error>
            </div>
          </div>
        </div>
        <div class="bg-white pt-3 pb-3">
          <div class="d-flex align-items-center">
            <h5 class="sub-head pl-3">Content <span>(Arabic)</span></h5>
          </div>
          <mat-divider></mat-divider>
          <div class="row">
            <div class="col m-3">
              <ckeditor #editor formControlName="aboutus_ar" id="description" name="description" type="divarea">
              </ckeditor>
              <mat-error *ngIf="Form.controls.aboutus_ar.touched && hasError('aboutus_ar', 'required')">
                <span>Content is required</span>
              </mat-error>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12 d-flex justify-content-end">
            <button [disabled]="Form.invalid || isLoading" mat-flat-button class="save-btn text-white version-btn py-1">
              Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
