<div fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4rem" class="mat-typography">
  <div>
    <img src="assets/fitness/logo.svg" alt="img-fluid" width="100px" />
  </div>
  <div class="login-container" fxLayout="row" fxLayoutAlign="center">
    <mat-card fxFlex="90%" fxFlex.sm="66%" fxFlex.md="50%" fxFlex.gt-md="33%" class="login-box">
      <div class="text-center mb-0 login-head">Create password to start your session</div>
      <form (ngSubmit)="submit()" [formGroup]="Form" novalidate>
        <!-- <div class="login-error" [hidden]="!error || isLoading" translate>Password incorrect.</div> -->
        <br />
        <div class="login-fields" fxLayout="column">
          <mat-form-field [hideRequiredMarker]="true" appearance="outline">
            <input
              type="password"
              matInput
              formControlName="password"
              autocomplete="password"
              [placeholder]="'Password' | translate"
              required
            />
            <mat-error *ngIf="Form.controls.password.invalid && Form.controls.password.touched">
              <span translate>Password is required</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field [hideRequiredMarker]="true" appearance="outline">
            <input
              type="password"
              matInput
              formControlName="repeat_password"
              autocomplete="repeat_password"
              [placeholder]="'Repeat Password' | translate"
              required
            />
            <mat-error *ngIf="Form.controls.repeat_password.invalid && Form.controls.repeat_password.touched">
              <span translate>Password is required</span>
            </mat-error>
          </mat-form-field>
          <!-- <mat-checkbox color="primary" formControlName="remember" translate>Remember me</mat-checkbox> -->
          <br />
          <button mat-raised-button class="bg-color" type="submit" [disabled]="Form.invalid || isLoading">
            <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
            <span translate class="text-white login-btn">Sign in</span>
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
