.mat-chip.mat-standard-chip::after {
  background: transparent;
}

.save-btn {
  background-color: #0d1111;
  // width: 120px;
}
.mat-standard-chip {
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #dddddd;
}
.modal-body {
  h6 {
    font-size: 18px;
    font-family: "Source-Sans-Pro-Bold" !important;
    margin-bottom: 0px;
  }
  p {
    font-size: 18px;
    font-family: "Source Sans Pro" !important;
    margin-bottom: 8px;
  }
  button {
    border: 1px solid #dddddd;
  }
}
::ng-deep .mat-tab-label {
  padding: 10px !important;
  min-width: auto !important;
  border-radius: 5px;
  background: #d9d9d9;
  font-family: "Source-Sans-Pro-Bold" !important;
  color: #ffffff;
  margin-right: 10px;
  height: auto !important;
  &.active {
    background-color: #5d5d5d !important ;
  }
}
::ng-deep mat-tab-header {
  border-bottom: none !important;
}
::ng-deep mat-ink-bar {
  visibility: hidden !important;
}
.min-height {
  min-height: 232px !important;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  background-color: #5d5d5d !important ;
  opacity: 1;
}
