@import "./assets/fonts/poppins/stylesheet.css";
@import "./assets/fonts/stylesheet.css";
/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~material-design-icons-iconfont/src/material-design-icons";

// Angular Material custom theme
// The mixins below must be included once so we separated them from the variables
@import "~@angular/material/theming";
@import "../node_modules/angular-notifier/styles.scss";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// Theme customization
@include mat-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

// Theme customization
@import "theme/theme";
@import "theme/mixings";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Source Sans Pro" !important;
}

// .mat-datepicker-popup {
//   right: calc(5% - 20px) !important;
//   left: 76% !important;
// }

.chatImg {
  width: 60px !important;
  height: 50px !important;
  border-radius: 50% !important;
}
.multiselect-dropdown {
  padding-top: 5px !important;
  .dropdown-btn {
    opacity: 1 !important;
    border: 1px solid rgba(0, 0, 0, 0.12) !important;
    border-radius: 5px !important;
    padding: 10px 12px !important;
    // .dropdown-multiselect__caret:before {
    //   top: 100% !important;
    // }
    .dropdown-multiselect__caret {
      height: 50px !important;
    }
    ::before {
      border-color: rgba(0, 0, 0, 0.54) transparent !important;
      border-width: 6px 5px 0 !important;
    }
    .selected-item {
      background: #5d5d5d !important;
      border: 1px solid #5d5d5d !important;
      max-width: 220px !important;
    }
  }
  .dropdown-list {
    .multiselect-item-checkbox input[type="checkbox"] + div:before {
      // background: #fff !important;
      border: 2px solid #000 !important;
    }
  }
}

.table-responsive {
  // padding: 0 30px;
  @include scrollbars(0.5em, #d8d8d8);
  display: block;
  width: auto !important;
  overflow-x: auto;
  margin-bottom: 5px;
  .mat-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
    margin: 0px;
    min-height: 120px;
  }
  .mat-row,
  .mat-header-row {
    display: table-row;
  }
  .mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 5px;
    line-break: unset;
    width: auto;
    color: #17242a;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }
}
table.mat-table td.mat-cell {
  border-left: 1px rgba(0, 0, 0, 0.12) solid;
  // padding: 0 24px !important;
  padding-left: 24px !important;

  color: #17242a;
}
table.mat-table td {
  border-left: 1px rgba(0, 0, 0, 0.12) solid;
  padding: 0 24px !important;
  font-family: "Source Sans Pro";
  font-size: 14px;
  color: #17242a;
}
table.mat-table th {
  border-left: 1px rgba(0, 0, 0, 0.12) solid;
  // padding: 0 24px !important;
  padding-left: 24px !important;
  font-family: "Source-Sans-Pro-Bold";
  font-size: 24px;
  color: #17242a;

  .mat-sort-header-container {
    place-content: space-between;
  }
  // .mat-sort-header-arrow {
  //   opacity: 1 !important;
  margin: 0px 0 0 40px !important;
  //   margin-top: 3px !important;
  //   transform: translateY(0%) !important;
  // }
}
.head {
  font-family: "Source-Sans-Pro-SemiBold";
  font-size: 1.8rem;
  color: #17242a;
}
.mat-drawer-content {
  @include scrollbars(0.5em, #5d5d5d);
}

.scroller {
  overflow-y: scroll !important;
  @include scrollbars(0.5em, #d8d8d8);
}
.content-scroller {
  overflow-y: scroll !important;
  @include scrollbars(0.5em, #d8d8d8);
}
.mat-drawer-inner-container {
  overflow-y: auto !important;
  @include scrollbars(0.5em, #d8d8d8);
}
.page {
  margin-top: 80px !important;
  color: #17242a;
}
.custom-page {
  position: relative;
  margin: 0;
  // padding-bottom: 1rem;
  min-height: 100%;
}
.custom-footer {
  position: absolute;
  /* right: 0; */
  bottom: 0;
  width: 100%;
}
.version-btn {
  font-family: "Source Sans Pro" !important;
  font-size: 16px;
}
.sub-head {
  font-family: "Source Sans Pro";
  font-size: 25px;
  color: #17242a;
}
.footer-bold {
  font-family: "Source-Sans-Pro-SemiBold";
  color: #17242a;
}
.selector-btn-2 {
  border-radius: 3px;
  border: 1px solid #dddddd;
  padding: 5px 15px;
  font-family: "Source-Sans-Pro-Bold";
}
.switch-btns button {
  background: #5d5d5d;
  font-family: "Source-Sans-Pro-Bold";
  font-size: 16px;
  color: #fff;
}
.upload-btn-modal {
  font-family: "Source-Sans-Pro-Bold";
  font-size: 16px;
  color: #fff;
  background-color: #0d1111;
}
.payout-form label {
  font-family: "Source-Sans-Pro-Bold";
  color: #0d1111;
  font-size: 16px;
}

// rough
.modal-header {
  a {
    display: flex;
    color: #000;
    text-decoration: none;
    @media (max-width: 767px) {
      display: initial;
    }
  }
}

.modal-content {
  border: none !important;
  overflow: hidden;
  color: #17242a;
  .modal-header {
    border-bottom: none !important;
    padding-top: 0;
    color: #17242a;
    // padding: 0rem 1rem !important;

    h2 {
      font-family: "Source-Sans-Pro-Bold";
      font-size: 25px;
      color: #17242a;
    }
    h4 {
      font-family: "Source Sans Pro";
      font-size: 20px;
      color: #17242a;
    }
  }
  .modal-body {
    overflow-y: auto;
    max-height: 450px;
    // overflow: unset !important;
    @include scrollbars(0.3rem, #d8d8d8);
  }
  .modal-body div {
    h3 {
      font-family: "Source-Sans-Pro-SemiBold";
      font-size: 30px;
      padding: 10px 0px;
      color: #17242a;
    }
    p {
      font-family: "Source Sans Pro" !important;
      font-size: 16px;
    }
    h6 {
      font-family: "Source-Sans-Pro-Bold";
      font-size: 20px;
    }
    mat-form-field {
      font-size: 14px;
    }
    mat-dialog-actions button:first-child {
      color: #0d1111;
    }

    mat-dialog-actions button {
      font-family: "Source-Sans-Pro-SemiBold";
      font-size: 16px;
      border: 1px solid #0d1111;
      padding: 5px 35px;
    }

    .clicked {
      background: #0d1111 !important;
      color: #fff !important;
      padding: 5px 38px !important;
    }
    .change {
      background: #0d1111 !important;
      color: #fff !important;
      padding: 5px 38px !important;
      cursor: pointer;
    }
  }

  @media (max-width: 440px) {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
}
.mat-custom-chip {
  height: inherit;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.admin-font {
  font-size: 14px;
  font-family: "Source Sans Pro" !important;
}

.export-btn {
  font-family: "Source Sans Pro" !important;
}
.excel-btn {
  font-family: "Source Sans Pro" !important;
}
.mat-paginator {
  font-family: "Source Sans Pro" !important;
}
.custom-page {
  padding-bottom: 80px;
}

::ng-deep .mat-select {
  font-family: "Source-Sans-Pro-Bold";
  font-size: 18px;
}
@media (min-width: 1270px) and (max-width: 1400px) {
  .small-text-2 {
    font-size: 12px !important;
  }
}
@media (min-width: 1270px) and (max-width: 1290px) {
  .card-font {
    font-size: 14px !important;
  }
  .mat-list-item,
  .mat-expansion-panel-header {
    font-size: 1em !important;
  }
  .mat-expansion-panel-body {
    font-size: 14px !important;
  }
  // .sub-sec-head-2 {
  //   font-size: 14px;
  // }
  // .mat-check-box {
  //   font-size: 14px;
  // }
  // .mat-radio-button {
  //   font-size: 14px;
  // }
}
/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
  .c-d-grid {
    display: grid;
  }
}
.modal-header .close {
  opacity: 1 !important;
}

//custom styles asad

.backdropBackground {
  filter: blur(0px);

  background-color: #2c2b2b;
  opacity: 0.8 !important;
}
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding: 0;
  border-bottom-width: 0px !important;
  border-bottom-style: solid;
}
mat-chip {
  font-family: "Source Sans Pro" !important;
}

// media queries for responsiveness
// ipad pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .mat-datepicker-popup {
    left: auto !important;
  }
  .payment-grid {
    display: grid !important;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .first-div,
  .second-div,
  .third-div,
  .forth-div {
    max-width: 48% !important;
    margin-bottom: 5px !important;
  }
  .i-pad-pd {
    display: flex !important;
    flex-flow: wrap !important;
  }
  .sub-head {
    font-size: 23px !important;
  }

  .mat-datepicker-popup {
    left: auto !important;
  }
  .c-white-space .mat-radio-label {
    white-space: normal;
  }
  .per-height {
    height: 300px !important;
  }
}
.w-0 {
  width: 0;
}

@media all and (device-width: 1024px) and (device-height: 768px) and (orientation: landscape) {
  .mat-datepicker-popup {
    left: auto !important;
  }
  .c-white-space .mat-radio-label {
    white-space: normal;
  }
}
// mobile responsiveness
@media (min-width: 320px) and (max-width: 480px) {
  .wrapping {
    display: flex !important;
    flex-flow: wrap !important;
  }
  .custom-order {
    flex-wrap: wrap !important;
  }
  .mat-datepicker-popup {
    left: auto !important;
  }
  .first-div,
  .second-div,
  .third-div,
  .forth-div {
    max-width: 100% !important;
    margin-bottom: 5px !important;
  }
  .search-input {
    width: auto !important;
  }
  .excel-res {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-left: 40px !important;
  }
  .excel-res-2 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-left: 10px !important;
  }
  .search-form {
    margin-left: 10px;
  }
  .per-height {
    height: auto !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .extra-pages-chips {
    display: table-caption !important;
  }
  .custom-profile-width {
    max-width: 100% !important;
    flex: auto !important;
  }
  .modal-content .modal-body div h3 {
    font-size: 22px !important;
  }
  .modal-content .modal-body div mat-dialog-actions button {
    padding: 0 16px !important;
  }
  .modal-content .modal-body div .clicked {
    padding: 0 16px !important;
  }
  // fonts for mobile
  .head {
    font-size: 20px !important;
  }
  .sub-head {
    font-size: 18px !important;
  }
  .version-btn,
  .card-box p {
    font-size: 12px !important;
  }
  .card-box h3 {
    font-size: 30px !important;
  }
  .custom-h5 {
    font-size: 15px !important;
  }
  table th {
    font-size: 14px !important;
  }
  table td {
    font-size: 12px !important;
  }
  .admin-font {
    font-size: 12px !important;
  }
  // .mat-list-base .mat-list-item,
  // .mat-list-base .mat-list-option {
  //   height: 40px !important;
  // }
  // .mat-sidenav .mat-list .mat-list-item,
  // mat-expansion-panel-header {
  //   font-size: 12px !important;
  // }
  // .mat-list-item-content mat-icon {
  //   height: 18px !important;
  //   width: 18px !important;
  // }
  // mat-expansion-panel-header mat-icon {
  //   height: 18px !important;
  //   width: 18px !important;
  // }
  // .mat-expansion-panel-body .mat-list-item-content span {
  //   font-size: 10px !important;
  // }
  // .mat-expansion-panel-body .mat-list-item-content img {
  //   width: 25px !important;
  // }
  .res-avatar-body .dashed-bg {
    display: grid !important;
  }
  .c-white-space .mat-radio-label {
    white-space: normal;
  }
  .footer-font {
    font-size: 14px !important;
  }
  .sub-sec-head {
    font-size: 14px !important;
  }
  .age-input mat-form-field {
    font-size: 14px !important;
  }
}
